header {
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-family: "Baloo Tammudu 2";
}

.nav{
    display: inline-flex;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    background-color: white;
    padding: 0 20px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(150, 174, 178, 0.8);
}

.nav-item{
    color: #83818c;
    padding: 20px;
    text-decoration: none;
    transition:  0.3s;
    margin: 0 7px;
    z-index: 1;
    position: relative;
}

.nav-item:before{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0px;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: 0.3s;
}

.nav-item:not(.is_active):hover:before{
    opacity: 1;
    bottom:0;
}

.nav-item:not(.is-active):hover{
    color: #333;
}

.nav-indicator{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: 0.4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}
.banner-media{
            background-color:rgb(131, 208, 221);
            margin-left: 5%;
            margin-right: 5%;
            
        }
.banner-media img {
                display: block;
                margin: auto;               
            }
.head{
    text-align: center;
    background-image: url(https://danviet.mediacdn.vn/296231569849192448/2021/6/15/2-hinh-vos-40-1623722284670234361155.jpg);
    
}   
.img {
    width: 60%;
    margin-top: 0.5cm;
    text-align: center;
}
.profile {
    text-align: center;
    margin-top: 1cm;
}
input[type="text"] {
    margin-top: 0.3cm;
    width: 130px;
    box-sizing: border-box;
    border: 1px solid black; 
    border-radius: 4px;
    outline:none;
    padding: 12px 14px;

}
input[type="text"]:focus{
    width:500px; 
    background-color: rgb(247, 244, 241);
}

button{
    border: solid 0 white;
    background-color: white;
}
.rightImg{
    width: 40%;
}
.file{
    border: white solid 1px;
background-color:rgb(224, 218, 218);   
}
.font{
    color:black;
    font-weight: 500;
}
.price {
    font-weight: 600;
}
